@model IEnumerable<trabalhoTi2Final.Models.TipoPrato>

@{
    ViewBag.Title = "IndexTipoPrato";
}

<br /><br />

<div  >
    <center>
        <a href='@Url.Action("Create", "TipoPratoes")'>
            <img  src='@Url.Content("~/images/add.png")'  width="160" height="160"><br />Adicionar Tipo de Prato<img />



        </a>
        </div>
<center>    
    <div>

        <a href='@Url.Action("Index", "TipoPratoes")'>
            <img src='@Url.Content("~/images/list.png")' width="160" height="160"><br />Listar Tipo de Pratos<img />


        </a>
    </div>


