@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



7
<h2>
    @Model.Mensagem
8
</h2>
9
<fieldset>
    10
    <legend>Carrinho de Compras</legend>
    11

    12
    <table>
        13
        <caption>Produtos no Carrinho</caption>
        14
        <thead>
            15
            <tr>
                16
                <th>Produto</th>
                17
                <th>Valor</th>
                18
            </tr>
            19
        </thead>
        20
        <tbody>
            21
            @foreach (var produto in Model.Produtos)
            {
                22
<tr>
    23
    <td>@produto.Nome</td>
    24
    <td>@produto.Valor</td>
    25
</tr>
26
}
            27
        </tbody>
        28
        <tfoot>
            29
            <tr>
                30
                <td><strong>Total</strong></td>
                31
                <td>@Model.TotalCarrinho</td>
                32
            </tr>
            33
        </tfoot>
        34
    </table>
    35

    36
</fieldset>
